%section
	%div
		%div
			%p
				%ul
					- @confession.comments.each do |comment|
						%li.confession-row#comments
							%p= comment.reply
							Comment by: 
							%strong #{comment.username}, 
							#{time_ago_in_words(comment.created_at)}
							
				-# = @confession.comments
				-# <%= @post.comments %>
					
				
		%p
			-# = link_to "Delete Comment", [@], method: :delete, data: { confirm: "Are you sure?"}