.col-md-3
	.center-block
		= image_tag current_user.image.url(:thumb) if current_user.image.url.present?

%div 
	%div= render 'form'
.row
	.col-md-3.col-md-offset-4
		%button.btn.btn-block= link_to "Back", user_path