%h1 Edit Confession
%div
	- unless @confession.story.length >= 20
		= render 'form'
	- else
		= params[:notice] = "+20 characters disables a confession's editing abilities. Now why would you delete your peace of mind?"

%button= link_to "Back", confession_path 