%h1 Confessions Index Page
%div
	= render 'form'
	%p OR
	%button= link_to "Confess", new_confession_path

%ul
	- if @confessions.each != current_user.confessions
		- @confessions.each do |confession|
			%li
				%strong= confession.title
				%br
				= confession.story
-# I need to add a link or box to comment on these confessions 