%h1 Confessions Index Page
-# %h1 New Confession
-# =render 'form'
-# =link_to "Back", confessions_path
//inconssitent indentation error? why??????
-# %ul
-# 	- if @confessions.each != current_user.confessions
-# 		- @confessions.each do |confession|
-# 			%li
-# 				%strong= confession.title
-# 				%br
-# 				= confession.story